{% extends 'base.html' %}
{% load static %}
{% block title %}Detail Komunitas{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 mt-10">
    <div class="bg-yellow-400 text-black rounded-2xl shadow-md p-6 border border-yellow-800">
        <h2 class="text-2xl font-bold mb-4 text-center">{{ community.name }}</h2>
        <p class="mb-4">{{ community.description }}</p>
        <p class="mb-1 font-medium">📍 {{ community.fitness_spot_name }}</p>
        {% if community.contact_info %}
        <p>📞 {{ community.contact_info }}</p>
        {% endif %}
    </div>

    <div class="mt-6 text-center">
        <a href="{% url 'community_list' %}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Kembali ke Daftar Komunitas</a>
    </div>
</div>
{% endblock %}
